*/__pycache__/*
*.pyc
*.pyo
*.idea/
*.project
*.settings/
*.pydevproject
*.cpp
build/**
dist/**
**/TEST/**

*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.mtime_cache.dat
*.log

# do not automatically add output files
*.png
*.csv
*.svg
*.tree

# do not automatically add learned data
examples/gridagent/
examples/paperexample/
examples/robotaction_turn/
examples/robotaction_move/
examples/perception/
